<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <div class="login-container">
      <h2>🍚🍚🍚🍚🍚</h2>
      <form action="/login" method="post" id="loginForm">
        <input name="userId" id="userId" placeholder="이메일" required />
        <input
          name="password"
          type="password"
          id="password"
          placeholder="비밀번호"
          required
        />
        <button type="submit">로그인 테스트</button>
      </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="js/login.js"></script>
  </body>
</html>
